name: CI

on:
  push:
    branches:
      - dev

jobs:
  verification:
    name : verification
    runs-on: ubuntu-20.04
    
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Install dependencies
      run: npm ci

  test:
    name: test
    runs-on: ubuntu-20.04    
    needs: verification
    steps:    
    - name: Run tests
      run: npm run cy:run --record --key ${{ secrets.CYPRESS_RECORD_KEY }}
    - name : upload test results
      uses : cypress-io/github-action@v1
      with:
        record : true
        record_key: ${{ secrets.CYPRESS_RECORD_KEY }}   
  
